<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.admin.board.AdminBoardMapper">

	<resultMap id="resultMapObj" type="com.sgworld.infra.modules.admin.board.AdminBoardDto"></resultMap>
	<resultMap id="resultMapCommnet" type="com.sgworld.infra.modules.admin.board.AdminComment"></resultMap>
	<resultMap id="resultMapLike" type="com.sgworld.infra.modules.admin.board.AdminLike"></resultMap>
	
	<sql id="selectCommon">
		FROM board a
		JOIN infrMember b on a.infrMmSeq = b.infrMmSeq
		LEFT JOIN boardUploaded c on a.bdSeq = c.pSeq
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>
			<choose>
				<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
			<choose>
				<when test="shOption == 1">AND b.infrMmNickname LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND a.bdTitle LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND a.bdDiv LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>

	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.bdSeq
				,b.infrMmNickname
				,a.bdTitle
				,a.bdContent
				,a.bdDiv
				,a.regDatetime
				,a.delNy
				,a.viewCount
				,(select count(bdLikeSeq) from bdLike c where 1=1 and a.bdSeq = c.bdSeq) as likeCount
				,(select count(cmSeq) from bdComment d where 1=1 and a.bdSeq = d.board_seq) as commentCount
				,c.path
				,c.uuidName
			<include refid="selectCommon" />
			ORDER BY a.bdSeq DESC
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT		
			a.*
			,b.infrMmNickname
			,(select count(cmSeq) from bdComment d where 1=1 and a.bdSeq = d.board_seq) as commentCount
			,c.path
			,c.uuidName
		FROM board a
		JOIN infrMember b on a.infrMmSeq = b.infrMmSeq
		LEFT JOIN boardUploaded c on a.bdSeq = c.pSeq
		WHERE 1=1
			AND bdSeq = #{bdSeq}
	</select>
	
	<select id="ccNameList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrCode a
		WHERE 1=1
	</select>

	<!-- 관리자 게시글 등록 -->
	<insert id="insert">
		INSERT INTO board (
			infrMmSeq
			,bdDiv
			,bdTitle
			,bdContent
			,regDatetime
			,delNy
			,viewCount
		)
		VALUES (
			#{infrMmSeq}
			,#{bdDiv}
			,#{bdTitle}
			,#{bdContent}
			,now()
			,1
			,0
		)
			<selectKey resultType="String" keyProperty="bdSeq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<update id="update">
		UPDATE board
		SET
			bdDiv = #{bdDiv}
			,bdTitle = #{bdTitle}
			,bdContent = #{bdContent}
			,delNy = #{delNy}
		WHERE 1=1
			AND bdSeq = #{bdSeq}
	</update>
	
	<update id="uelete">
		UPDATE board
		SET
			delNy = 0
		WHERE 1=1
			AND bdSeq = #{bdSeq}
	</update>
 
 	<delete id="delete">
 		DELETE FROM board 
 		WHERE 1=1
 			AND bdSeq = #{bdSeq}
 	</delete>
 	
 	<!-- 업로드 관련 -->
 	<select id="selectListUploaded" resultMap="resultMapObj">
		SELECT 
			seq
			,type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
		FROM sgworld.boardUploaded
		WHERE 1=1
			AND delNy = 0
			AND pseq = #{bdSeq}
		ORDER BY
			type, sort
	</select>
	
	<!-- 조회수 -->
	<update id="boardViewCount">
		UPDATE board
		SET
			viewCount = viewCount + 1
		WHERE 1=1
			AND bdSeq = #{bdSeq}	
	</update>
	
	<!-- 좋아요 여부확인 -->
	<select id="boardLiked" resultMap="resultMapObj"> 
		SELECT 
			infrMmSeq
		FROM bdLike 
		WHERE 1=1
			AND bdSeq = #{bdSeq}
			AND infrMmSeq = #{infrMmSeq}
	</select>
	
	<!-- 좋아요 count -->
	<select id="boardLikeCount" resultType="Integer"> 
		SELECT 
			COUNT(*) as likeCount 
		FROM bdLike 
		WHERE 1=1
			AND bdSeq = #{bdSeq}
	</select>
	
	<!-- 좋아요 추가 -->
	<insert id="insertLike">
		INSERT INTO bdLike (
			bdSeq
			,infrMmSeq
		)
		VALUES (
			#{bdSeq}
			,#{infrMmSeq}
		)
		<selectKey resultType="String" keyProperty="bdLikeSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteLike">
		DELETE FROM bdLike
		WHERE 1=1
			AND bdSeq = #{bdSeq}
			AND infrMmSeq = #{infrMmSeq}
	</delete>
	
 	<!-- 댓글 -->
 	<select id="selectCommentList" resultMap="resultMapObj">
 		<include refid="Base.selectListUpperForMysql" />
 			SELECT
 				a.cmSeq
 				,b.infrMmId
 				,b.infrMmName
 				,b.infrMmNickname
 				,a.content
 				,a.regDatetime
			FROM bdComment a
			JOIN infrMember b on a.infrMmSeq = b.infrMmSeq 
			JOIN board c on a.board_seq = c.bdSeq
			WHERE 1=1
				AND c.bdSeq = #{bdSeq}
				ORDER BY a.cmSeq DESC	
 		<include refid="Base.selectListLowerForMysql" />
 	</select>
 	
 	<select id="selectCommentCount" resultType="Integer">
		SELECT COUNT(*)
		FROM bdComment a
		JOIN infrMember b on a.infrMmSeq = b.infrMmSeq
		LEFT JOIN board c on a.board_seq = c.bdSeq
		WHERE 1=1
			AND a.board_seq = #{bdSeq} 
	</select>
 	
	<insert id="commentInst">
		INSERT INTO bdComment (
			content
			,regDatetime
			,infrMmSeq
			,board_seq
			,delNy
		)
		VALUES (
			#{content}
			,now()
			,#{infrMmSeq}
			,#{bdSeq}
			,1
		)
		<selectKey resultType="String" keyProperty="cmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<delete id="commentDele">
		DELETE FROM bdComment
		WHERE 1=1
			AND cmSeq = #{cmSeq}
			AND infrMmSeq = #{infrMmSeq}
	</delete> 	
	
	<select id="recommentList" resultMap="resultMapObj">
		SELECT
			cmReSeq
			,reContent
			,regDatetime
			,regBy
			,delNy
			,comment_seq
			,infrMmSeq
		FROM bdReComment 
			WHERE 1=1
			AND comment_seq= #{cmSeq}	
	</select>
	
	<insert id="reComentInst">
		INSERT INTO bdReComment (
			reContent
		    ,regDatetime
		    ,comment_seq
		    ,infrMmSeq
		)
		VALUES(
			#{reContent}
		    ,now()
		    ,#{cmSeq}
		    ,#{infrMmSeq}
		)
		<selectKey resultType="String" keyProperty="cmReSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectReCommentCount" resultType="Integer">
		SELECT COUNT(*)FROM bdReComment
			WHERE 1=1
			AND comment_seq = #{cmSeq}    
	</select>
 	
</mapper>