<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.admin.board.AdminBoardMapper">

	<resultMap id="resultMapObj" type="com.sgworld.infra.modules.admin.board.AdminBoardDto"></resultMap>
	<resultMap id="resultMapCommnet" type="com.sgworld.infra.modules.admin.board.AdminComment"></resultMap>
	<resultMap id="resultMapLike" type="com.sgworld.infra.modules.admin.board.AdminLike"></resultMap>
	
	<sql id="selectCommon">
		FROM board a
		JOIN infrMember b on a.infrMmSeq = b.infrMmSeq
		WHERE 1=1
	</sql>

	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.bdSeq
				,b.infrMmNickname
				,a.bdTitle
				,a.bdContent
				,a.bdDiv
				,a.regDatetime
				,a.delNy
			<include refid="selectCommon" />
			ORDER BY a.bdSeq DESC
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT		
			a.*
			,b.infrMmNickname
		FROM board a
		JOIN infrMember b on a.infrMmSeq = b.infrMmSeq
		WHERE 1=1
			AND bdSeq = #{bdSeq}
	</select>

	<!-- 관리자 게시글 등록 -->
	<insert id="insert">
		INSERT INTO board (
			infrMmSeq
			,bdDiv
			,bdTitle
			,bdContent
			,regDatetime
			,delNy
		)
		VALUES (
			1
			,#{bdDiv}
			,#{bdTitle}
			,#{bdContent}
			,now()
			,1
		)
			<selectKey resultType="String" keyProperty="bdSeq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>
	
	<update id="update">
		UPDATE board
		SET
			bdDiv = #{bdDiv}
			,bdTitle = #{bdTitle}
			,bdContent = #{bdContent}
			,delNy = #{delNy}
		WHERE 1=1
			AND bdSeq = #{bdSeq}
	</update>
	
	<update id="uelete">
		UPDATE board
		SET
			delNy = 0
		WHERE 1=1
			AND bdSeq = #{bdSeq}
	</update>
 
 	<delete id="delete">
 		DELETE FROM board 
 		WHERE 1=1
 			AND bdSeq = #{bdSeq}
 	</delete>
 	
 	<!-- 업로드 관련 -->
 	<select id="selectListUploaded" resultMap="resultMapObj">
		SELECT 
			seq
			,type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
		FROM sgworld.boardUploaded
		WHERE 1=1
			AND delNy = 0
			AND pseq = #{bdSeq}
		ORDER BY
			type, sort
	</select>
	
 	<!-- 댓글 -->
 	<select id="selectCommentList" resultMap="resultMapCommnet">
 		<include refid="Base.selectListUpperForMysql" />
 			SELECT
 				a.cmSeq
 				,b.infrMmNickname
 				,a.content
 				,a.regDatetime
			FROM bdComment a
			JOIN infrMember b on a.infrMmSeq = b.infrMmSeq 
			JOIN board c on a.board_seq = c.bdSeq
			WHERE 1=1
				AND c.bdSeq = #{bdSeq}
 		<include refid="Base.selectListLowerForMysql" />
 	</select>
 	
 	<!-- 사용자 게시글 등록 -->
 	
 	
</mapper>