<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.user.sgWorld.SgwMapper">
	<resultMap id="SgwDto" type="com.sgworld.infra.modules.user.sgWorld.sgwdto.SgwDto">
	</resultMap>
	
	
	<!-- 
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@ Sgworld 
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	-->
	
	<select id="didHeAlreadyMadeSgw" resultType="Integer">
		select count(*)
		from sgWorld 
		where 1=1
		and  regByMm = #{infrMmSeq}
	</select>
	
	<select id="isDupleLink" resultType="Integer">
		select count(*)
		from sgWorld
		where 1=1
		and  sgwLink = #{sgwLink}
	</select>
	
	<insert id="buildSgw">
		insert into 
			(select * from sgWorld sg left join sgWorldRoom sgr on sg.sgwSeq = sgr.sgwRSeq)
		(
		sg.sgwTitle
		,sgisHidden
		,sg.sgwMmNumber
		,sg.sgwMap
		,sg.sgwLink
		,sg.regByMm
		,sgr.sgwSeq
		)
		values(
		#{sgwTitle}
		,#{isHidden}
		,#{sgwMmNumber}
		,#{sgwMap}
		,#{sgwLink}
		,#{infrMmSeq}
		,#{sgwSeq}
		)
	</insert>
	
	<insert id="addUserSgwRoom">
	    insert into sgWorldRoom(
	      sgwSeq,
				infrMmSeq
				,avatarSeq
			)values(
	     (select sgwSeq from sgWorld where 1=1 and sgwLink = #{sgwLink}),
				#{infrMmSeq},
				#{avatarSeq}
	    )
	</insert>
	
	<select id="onLoadInfoSgw" resultMap="SgwDto">
		select
		  s.sgwSeq
		  ,s.sgwTitle
		  ,s.sgwMap
		  ,s.sgwMmNumber
		  ,s.isHidden
		  ,s.sgwLink
		  ,s.regDateTime
		  ,s.regByMm
		from sgWorld s
		where 1=1
		and s.sgwLink = #{sgwLink}
	</select>
	
	<select id="onLoadUserInfoSgw" resultMap="SgwDto">
		select
		  s.sgwSeq
		  ,m.infrMmSeq
		  ,m.infrMmNickname
		  ,a.avatarSeq
		  ,a.avatarName
		from sgWorld s 
		  left join sgWorldRoom r 
		    on s.sgwSeq = r.sgwSeq
		  left join infrMember m 
		    on s.regByMm = m.infrMmSeq
		  left join sgWorldAvatar a
		    on r.avatarSeq = a.avatarSeq
		  where 1=1
		  and m.infrMmSeq = #{infrMmSeq}
	</select>
	
	
	<update id="onLiveNy">
		update sgWorld set onLiveNy = #{onLiveNy}
		where 1=1
		and sgwLink = #{sgwLink}
	</update>
	<!-- 
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@ User
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	-->
	<select id="findSgwbyMmSeq" resultMap="SgwDto">
		select 
			regByMm
			,sgwLink
		from sgWorld 
		where 1=1
		and regByMm = #{infrMmSeq}
	</select>
	
	
	<select id="findMm" resultMap="SgwDto">
		select * from infrMember
		where infrMmSeq = #{infrMmSeq}
	</select>
</mapper>