<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.user.sgWorld.SgwMapper">
	<resultMap id="SgwDto" type="com.sgworld.infra.modules.user.sgWorld.sgwdto.SgwDto">
	</resultMap>
	
	<insert id="buildSgw">
		insert into 
			(select * from sgWorld sg left join sgWorldRoom sgr on sg.sgwSeq = sgr.sgwRSeq)
		(
		sg.sgwTitle
		,sgisHidden
		,sg.sgwMmNumber
		,sg.sgwMap
		,sg.sgwLink
		,sg.regByMm
		,sgr.sgwSeq
		)
		values(
		#{sgwTitle}
		,#{isHidden}
		,#{sgwMmNumber}
		,#{sgwMap}
		,#{sgwLink}
		,#{infrMmSeq}
		,#{sgwSeq}
		)
	</insert>
	<select id="findSgwbyMmSeq" resultMap="SgwDto">
		select * 
		from sgWorld 
		where 1=1
		and regByMm = #{infrMmSeq}
	</select>
	<select id="isDupleLink" resultType="Integer">
		select count(*)
		from sgWorld
		where 1=1
		and  sgwLink = #{sgwLink}
	</select>
	<select id="doesHealreadyMakeSgw" resultType="Integer">
		select count(*)
		from sgWorld 
		where 1=1
		and  regByMm = #{infrMmSeq}
	</select>
	<select id="findMm" resultMap="SgwDto">
		select * from infrMember
		where infrMmSeq = #{infrMmSeq}
	</select>
	
	<select id="loadRoomInfo">
	
	</select>
</mapper>