.boardHead{
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 30px;
}
.boarderTitle{
	display: flex;
	justify-content: center;
	padding-right: 620px;
}
.boarder{
	display: flex;
	justify-content: center;
}
.board{
	width: 735px;
}
.boarderBody{
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 30px;
}
.icon{
	font-size: 0.8em;
	color: #9D9D9D;
}
i{
	margin: 0 14px 0 0;
}
.boarderFooter{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #DEDEDE;
}
.writeBtn1{
	border-radius: 5px;
	background-color: #434A72; 
	padding: 5px 10px;
	font-size: 0.9em;
	color: white;
}
.iconComment{
	font-size: 0.6em;
	color: #9D9D9D;
}
.commentBody{
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 20px;
	font-size: 0.8em;
}
.commentPlus{
	text-align: center;
	color: #9D9D9D;
}