.navbar{
	border-bottom: 1px solid #777;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 100px;
	min-width: 1000px;
	font-size:20px;
}
.logoStyle{
	padding-left: 0;
	margin-right: 100px;
}
.headerLogo{
	width: 60px; 
	height: 60px;
}
.leftNav{
	display: flex;
}
.rightNav{
	display: flex;
}
a{
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}
.navMenu{
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 0;
	align-items: center;
}
.leftNav ul li{
	height: 45px;
    text-align:center;
    line-height:45px;
    margin-right:30px;
}
.rightNav ul li{
	height: 40px;
    width: 90px;
    text-align:center;
    line-height:40px;
    font-size:14px;
}
.navBtn{
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 0;
}

.navBtn li.logedIn{
	width:80px;
	height:40px;
	font-size:14px;
}

.navBtn li.logedIn a {
	font-size:14px;
	color:#434A72;
	font-weight:700;
}
.navBtn li.logedIn #logOutBtn{
	height:40px;
	line-height:40px;
	border:none;
	background:none;
	padding:0px;
	color:#434A72;
	font-weight:700;
}
.navBtn li:first-child{
	border-radius: 5px;
	background-color: #434A72;
}
.navBtn li.last{
	border-radius: 5px;
	border:1px solid #dedede;
}
.writeBtn{
	color: white;
}