.bodyWrapper{
	width:100%;
	height:calc(100% - 380px);
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 100px 0px;
}


.loginHead{
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginLogo{
	object-fit: contain;
    width: 60px;
    height: 50px;
    padding-right: 15px;
}
.loginBody{
	display: flex;
	justify-content: center;
	margin:10px 0px;
}
.loginBox > div {
	margin:10px 0px;
}

.loginBox{
	border: 1px solid #DEDEDE;
	width: 550px;
}
.inputIdBox{
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.inputLogin{
	border: 1px solid #DEDEDE;
	width: 420px;
	height: 50px;
	padding:5px;
	border-radius:5px;
}
.inputPwBox{
	display: flex;
	justify-content: center;
}
.loignCheck{
	color:#999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginBtnBox{
	display: flex;
	justify-content: center;
}
.loginBtn{
	width: 420px;
	height: 50px;
	background-color: #434A72;
	color: white;
	border-radius: 5px;
	margin-bottom:20px;
}
.easyLoginHead{
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.easyLoginLogo{
	display: flex;
	justify-content: center;
}
.easyLoginLogo img{
	object-fit: contain;
	width: 60px;
	height: 50px;
	border-radius: 70%;
	padding: 0 15px;
}
.loginFooterBox{
	display: flex;
	justify-content: center;
}
.loginFooterBox a{
	cursor:pointer;
}
.loginFooter{
	font-size:10px;
	display: flex;
	justify-content: space-between;
	width: 550px;
	align-items: center;
}