<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.user.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.sgworld.infra.modules.user.member.MemberDto"></resultMap>

	<!-- 내 정보 보기_회원정보 불러오기 -->
	<select id="selectOne" resultMap="resultMapObj">
	SELECT
		infrMmEmailId
	    ,infrMmEmailAddress
	    ,infrMmNickName
	    ,infrMmPhone
	    ,infrMmBod
	FROM  infrMember 
		WHERE 1=1
	    AND infrMmSeq = #{infrMmSeq}
	</select>
	

	
	
	

</mapper>