.bodyWrapper{
	width:100%;
	height:calc(100% - 380px);
	display:flex;
	justify-content:center;
	align-items:center;
	margin:100px 0;
}

.findMyLogin{
	display:flex;
	flex-direction:column;
	align-items: center;
	
}
.findMyLogin h1{
	font-weight:700;
}

.findMyLogin p {
	color:#999;
	margin:50px 0 40px;
	text-align:center;
}

img.logo{
	object-fit: contain;
	width: 60px;
	height: 50px;
	border-radius: 70%;
	padding: 0 15px;
}

.inputBox div{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:20px;
}

.inputBox input{
	height:50px;
	border-radius:5px;
	border:1px solid #eee;
}
.EmailAuthCode{
	margin-bottom:20px;
}

.btn{
	background:#434A72;
	color:#fff;
	height:50px;
	border-radius:5px;
}
.btn:hover{
	background:#363a5a;
}