<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/sgworld/infra/modules/user/home/HomeMapper">
	<resultMap id="homeDto" type="com.sgworld.infra.modules.user.home.HomeDto">
	</resultMap>
	<resultMap id="SgwDto" type="com.sgworld.infra.modules.user.sgWorld.sgwdto.SgwDto">
	</resultMap>
	<select id="selectSgwList" resultMap="SgwDto">
		select
		  s.sgwSeq
		  ,s.sgwTitle
		  ,s.sgwMap
		  ,s.sgwMmNumber
		  ,s.isHidden
		  ,s.sgwLink
		  ,s.regDateTime
		  ,s.regByMm
		  ,s.onLiveNy
		  ,(select count(*) from sgWorldRoom sr where sr.sgwSeq = s.sgwSeq ) as usersNum
		from sgWorld s
		where 1=1
		and onLiveNy = 1
		order by sgwSeq
		limit 6
	</select>
</mapper>


