<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.admin.membergroup.MemberGroupMapper">

	<resultMap id="MemberGroup" type="com.sgworld.infra.modules.admin.membergroup.MemberGroup"></resultMap>
	
	<!-- 검색조건 -->
	<sql id="selectCommon">
		FROM infrMember a
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND infrMmDelNy = #{shDelNy}</if>
	 	<choose>
			<when test="shOption == 1">AND infrMmSeq = #{shValue}</when>
			<when test="shOption == 2">AND infrMmName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND infrMmId LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	
	<select id="selectMmList" resultMap="MemberGroup">
		select * from infrMember
		ORDER BY infrMmSeq DESC
	</select>
	
	<select id="selectMmOne" resultMap="MemberGroup">
		select * from infrMember
		WHERE 1=1 
		AND infrMmSeq = #{mmSsSeq}
	</select>
	
	<select id="selectUserLogin" resultMap="MemberGroup">
		select 
			infrMmId
			,infrMmPw
			,infrMmSeq
			,infrMmName
			from infrMember
		where 1=1
		and infrMmId = #{infrMmId}
		and infrMmPw = #{infrMmPw}
	</select>
	
	<select id="isduple" resultType="Integer">
		select count(*)
	<choose>
		<when test="dupleValiObj ==  'infrMmId'">
			from infrMember 
			where 
			infrMmId = #{shDupleStr}
		</when>
		<when test="dupleValiObj ==  'infrMmName'">
			from infrMember 
			where 
			infrMmName = #{shDupleStr}
		</when>
		<when test="dupleValiObj ==  'infrMmNickname'">
			from infrMember 
			where 
			infrMmNickname = #{shDupleStr}
		</when>
		<when test="dupleValiObj ==  'infrMmPhone'">
			from infrMember 
			where 
			infrMmPhone = #{shDupleStr}
		</when>
		</choose>
	</select>
	
	<insert id="insertMmSignIn">
	insert into infrMember(
	  infrMmId
	  ,infrMmPw
	  ,infrMmName
	  ,infrMmNickname
	  ,infrMmBod
	  ,infrMmGender
	  ,infrMmTelecom
	  ,infrMmPhone
	  ,infrMmEmailId
	  ,infrMmEmailAddress
	  ,infrMmZip
	  ,infrMmRoadAddress
	  ,infrMmJibunAddress
	  ,infrMmDetailAddress
	  ,infrMmExtraAddress
	  ,infrMmLat
	  ,infrMmLong
	  ,regDatetime
	) values(
	  #{infrMmId}
	  ,MD5(#{infrMmPw})
	  ,#{infrMmName}
	  ,#{infrMmNickname}
	  ,#{infrMmBod}
	  ,#{infrMmGender}
	  ,#{infrMmTelecom}
	  ,#{infrMmPhone}
	  ,#{infrMmEmailId}
	  ,#{infrMmEmailAddress}
	  ,#{infrMmZip}
	  ,#{infrMmRoadAdress}
	  ,#{infrMmJibunAdress}
	  ,#{infrMmDetailAdress}
	  ,#{infrMmExtraAddress}
	  ,#{infrMmLat}
	  ,#{infrMmLong}
	  ,now()
	)
	</insert>
	
	<!-- admin_회원정보 수정 -->
	<update id="udptMmifo">
		UPDATE infrMember
		SET
			infrMmId = #{infrMmId}
			,infrMmName = #{infrMmName}
			,infrMmPw = #{infrMmPw}
			,infrMmEmailId = #{infrMmEmailId}
			,infrMmNickname = #{infrMmNickname}
			,infrMmGender = #{infrMmGender}
			,infrMmBod = #{infrMmBod}
			,infrMmPhone = #{infrMmPhone}
			,infrMmDelNy = #{infrMmDelNy}
			,infrMmUseNy = #{infrMmUseNy}
		WHERE 1=1
			AND infrMmSeq = #{mmSsSeq}	
	</update>
	
	<!-- user-admin uelete -->
	<update id="ueleteMm">
		UPDATE infrMember
		SET
			infrMmDelNy = 0
		WHERE 
			infrMmSeq = #{mmSsSeq}	
	</update>
	
	<delete id="deleteMm">
	</delete>
	
	<!-- user_계시판 리스트 띠우기 -->
	<select id="selectListBoard" resultMap="MemberGroup">
		SELECT
			a.infrMmSeq
			,b.bdTitle
			,b.regDatetime
			,(SELECT COUNT(aa.bdLikeSeq) FROM bdLike aa where 1=1 AND aa.bdSeq = b.bdSeq)as bdLikeSeq
		FROM infrMember a
		LEFT JOIN board b on b.infrMmSeq = a.infrMmSeq
		WHERE 1=1
			AND a.infrMmSeq = #{mmSsSeq}
			ORDER BY b.bdSeq DESC
	</select>
	
	<!-- admin total count-->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
</mapper>
