<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.admin.membergroup.MemberGroupMapper">

	<resultMap id="MemberGroup" type="com.sgworld.infra.modules.admin.membergroup.MemberGroup"></resultMap>
	
	<select id="selectMmList" resultMap="MemberGroup">
		select * from infrMember
	</select>
	
	<select id="selectUserLogin" resultMap="MemberGroup">
		select 
			infrMmId
			,infrMmPw
			,infrMmSeq
			,infrMmName
			from infrMember
		where 1=1
		and infrMmId = #{infrMmId}
		and infrMmPw = #{infrMmPw}
	</select>
	
	<insert id="insertMmSignIn">
	insert into infrMemeber(
	  infrMmId
	  ,infrMmPw
	  ,infrMmName
	  ,infrMmNickname
	  ,infrMmBod
	  ,infrMmGender
	  ,infrMmTelecom
	  ,infrMmPhone
	  ,infrMmEmailId
	  ,infrMmEmailAddress
	  ,infrMmZip
	  ,infrMmRoadAddress
	  ,infrMmJibunAddress
	  ,infrMmDetailAddress
	  ,infrMmLat
	  ,infrMmLong
	  ,regDateAt
	) values(
	  #{infrMmId}
	  ,#{infrMmKakaoIdToken}
	  ,MD5(#{infrMmPw})
	  ,#{infrMmName}
	  ,#{infrMmNinckName}
	  ,#{infrMmDod}
	  ,#{infrMmGender}
	  ,#{infrMmPhone}
	  ,#{infrMmEmailId}
	  ,#{infrMmEmailAddr}
	  ,#{infrMmZip}
	  ,#{infrMmRoadAdress}
	  ,#{infrMmJibunAdress}
	  ,#{infrMmDetailAdress}
	  ,#{infrMmLat}
	  ,#{infrMmLong}
	  ,now()
	)
	</insert>
	
	<update id="udptMmifo">
	
	</update>
	<update id="ueleteMm">
	</update>
	
	<delete id="deleteMm">
	</delete>
	
</mapper>