<!DOCTYPE html>
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor VS Student</title>
    <style>
        * {padding : 0; margin: 0;}
        canvas {background: #eee; display: block; margin : 0 auto;}
    </style>

</head>
<body>
  
<div id="count">0</div>
<button id="up">+1</button>
<button id="down">-1</button>
<script>
const count = {};
const handler = {
  get: (obj, name) => {
    if (name === 'number') {
      return this._num || 0;
    }
  },
  set: (obj, name, value) => {
    if (name === 'number') {
      this._num = value;
      console.log(count);
      document.querySelector('#count').textContent = this._num;
    }
  }
};

const proxy = new Proxy(count, handler);

document.querySelector('#up').addEventListener('click', () => {
  proxy.number++;
});
document.querySelector('#down').addEventListener('click', () => {
  proxy.number--;
});
</script>


</body>
</html>