<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="webRTC.js"></script>
</head>
<body>
<video autoplay playsinline width="400" height="400" id="myFace" ></video>
<button onclick="getMedia()">getMedia</button>

<script>
//const socket = io();
const myFace = document.getElementById('myFace')

//Stream은 비디오와 오디오가 합쳐진것을 말한다. 
let myStream;
let muted = false;
let cameraOff = false;

async function getMedia(){
	try{
		myStream = await navigator.mediaDevices.getUserMedia({
            audio:true,
            video:true,
        });
		myFace.srcObject = myStream;
        console.log("####################### " + JSON.stringify(myStream))
	}catch(e){
	 	console.log(e);
	}
}

</script>
</body>
</html>