<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgworld.infra.modules.admin.codeGroup.AdminCodeGroupMapper">

	<resultMap id="resultMapObj" type="com.sgworld.infra.modules.admin.codegroup.CodeGroupDto"></resultMap>
	
	<sql id ="selectCommon">
		FROM infrCodeGroup a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND infrCcgDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND infrCcgSeq = #{shValue}</when>
				<when test="shOption == 2">AND infrCcgNameKor LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND infrCcgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.infrCcgSeq
				,a.infrCcgNameKor
				,a.infrCcgNameEng
				,a.infrCcgDelNy
				,a.infrCcgOrder
				,a.infrCcgUseNy
				,a.regDatetime
				,a.regBy
				,a.modDatetime
				,a.modBy
				,(select count(aa.infrCodeGroupSeq) from infrCode aa where 1=1 and aa.infrCcDelNy = 1 and aa.infrCodeGroupSeq = a.infrCcgSeq) as infrCcCount
			<include refid="selectCommon" />
			ORDER BY a.infrCcgSeq DESC
		<include refid="Base.selectListLowerForMysql" />
	</select>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrCodeGroup a
		WHERE 1=1
			AND infrCcgSeq = #{infrCcgSeq}
	</select>
	
	<!-- admin ccg등록 -->
	<insert id="insert">
		INSERT INTO infrCodeGroup(
			infrCcgNameKor
			,infrCcgNameEng
			,infrCcgUseNy
			,infrCcgDelNy
			,regDatetime
		)VALUES(
			#{infrCcgNameKor}
			,#{infrCcgNameEng}
			,#{infrCcgUseNy}
			,#{infrCcgDelNy}
			,now()
		)
	</insert>



	
</mapper>